name: simple input simple

on:
  workflow_dispatch:
    inputs:
      title:
        description: "issue title"
        required: true
      body:
        description: "issue body"
        required: true

jobs:
  create_issue_on_failure:
    runs-on: ubuntu-latest
    permissions: 
      issues: write

    steps:
      - name: create issue using REST API
        run: |
          curl \
          --request POST \
          --url https://api.github.com/repos/${{github.repository}}/issues \
          --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          --header 'content-type: application/json' \
          --data '{
          "title": "failure: ${{inputs.title}}",
          "body" : "details: ${{inputs.body}}"
          }' \
          --fail
