name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  report-url-sh:
    runs-on: self-hosted
    steps:
      - name: Show GitHub context (Bash)
        shell: bash
        run: |
          echo "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
