name: simple input simple

on:
  issues:
    types: [opened,labeled]

jobs:
  run_if_bug:
    if: github.event.label.name == 'bug'
    runs-on: ubuntu-latest
    steps:
      - run: echo "bug label added!"