name: simple input simple

on:
  label:
    types:
      - created
      
  issues:
    types: [opened,labeled,closed]
  

jobs:
  run_if_bug:
    if: github.event.label.name == 'bug'
    runs-on: ubuntu-latest
    steps:
      - run: echo "bug label added!"
  
  issue-close:
    runs-on: ubuntu-latest
    steps:
      - run: echo " ${{github.event.issue.comments}} ${{github.event.issue.closed_at}}"

      