name: deployment example for java
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main","dev"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build

      # - name: upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: archieve.zip
      #     path: build/libs
