name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  check:
    runs-on: self-hosted

    env:
      STAGE: JOB

    steps:
      - name: step level env
        env:
          stage: steps
        run: | 
          echo $env:STAGE
          echo $env:stage
          echo ${{runner.name}}
          echo ${{runner.os}}
          echo ${{runner.environment}}
          echo ${{secrets.PASSWORD}}
          echo ${{github.ref}}
          echo ${{github.repository}}
          echo ${{job.status}}

          echo ${{github.event.after}}
          echo ${{github.event.before}}
          echo ${{github.event.commits}}
          echo ${{github.event.compare}}


  prod_check:
    if: ${{github.ref == 'refs/heads/main'}}
    runs-on: self-hosted
    steps:
      - run: |
          echo Runner Name: ${{ runner.name }}
          echo OS: ${{ runner.os }}
          echo Arch: ${{ runner.arch }}
          echo Temp folder: ${{ runner.temp }}

  report-url:
    runs-on: self-hosted
    steps:
    - name: Show GitHub context
      run: |
        echo "Workflow: ${{ github.workflow }}"
        echo "Repo: ${{ github.repository }}"
        echo "Branch: ${{ github.ref_name }}"
        echo "Commit: ${{ github.sha }}"
        echo "Actor: ${{ github.actor }}"
        echo "Runner OS: $RUNNER_OS"
        echo "Runner Name: $RUNNER_NAME"
