name: deployment example for java
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main","dev"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Show GitHub Workspace
        run: |
          echo "hello world"


  #     - name: Setup Java
  #       uses: actions/setup-java@v4
  #       with:
  #         distribution: 'temurin'
  #         java-version: 17

  #     - name: Setup Gradle
  #       uses: gradle/actions/setup-gradle@v5

  #     - name: Build with Gradle
  #       run: gradle build

  #     - name: List current directory (check files)
  #       run: |
  #         ls -la

  #     - name: upload artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: archieve.zip
  #         path: build/libs
  #         retention-days: 1

  # deploy-dev:
  #   needs: [ build-and-test ]
  #   if: github.ref == 'refs/heads/dev'

  #   runs-on: ubuntu-latest
  #   environment:
  #     name: dev
  #     url: https://github.com/${{ github.repository }}/releases/tag/v${{ vars.DEV_VERSION }}
      
  #   steps:
  #     - name: Download candidate artifacts
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: archieve.zip

  # deploy-prod:
  #   needs: [ build-and-test ]
  #   if: github.ref == 'refs/heads/main'

  #   runs-on: ubuntu-latest
