name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  check:
    runs-on: self-hosted

    env:
      STAGE: JOB

    steps:
      - name: step level env
        env:
          stage: steps
        run: | 
          echo $STAGE
          echo $stage
          echo ${{runner.name}}
          echo ${{runner.os}}

  prod_check:
    if: ${{github.ref == 'refs/heads/main'}}
    runs-on: self-hosted
    steps:
      - run: echo "deploy on self-hosted"