name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: code
        run: echo "hello world"

      - name: secrets
        env: 
          secret: ${{ secrets.SEC }}
        run: echo "Secret is $secret"

      - run: echo "hello world from xaviera40404"

      - run: echo ${{ secrets.WORKFLOW_PAT }}