name: workflow101

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: wait 5 seconds
        run: sleep 5

      - run: echo "building..."


      