name: simple input simple

on:
  workflow_dispatch:
    inputs:
      message:
        description: "message to print"
        required: true
      age:
        description: "enter your age"
        required: false
      version:
        description: "node verson to setup"
        type: number
      env:
        description: "sth with env"
        type: environment
        required: true

jobs:
  demo:
    runs-on: ubuntu-latest
    if: ${{ inputs.message }}
    steps:
      - name: print input
        run: echo "${{ inputs.message }}"

      - name: print inputs
        run: |
          echo "${{inputs.age}}"
          echo "${{inputs.version}}"
          echo "${{inputs.env}}"

