name: CI
on:
  push:
    branches: ["main"]
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
  update-env:
    runs-on: ubuntu-latest
    steps: 
      - name: Install Package
        run: | 
          sudo apt-get update
          sudo apt-get install nginx

  process:
    needs: [checkout,update-env]
    runs-on: ubuntu-latest
    steps:
      - name: run a one-line script
        run: echo Hello world!
      - name: run multiple line script
        run: |
          echo add other actions to build,
          echo test, and deploy your project

  self-host:
    runs-on: self-hosted
    steps:
        - name: check
          shell: cmd
          run: |
            whoami
            hostname
        - name: runner details
          shell: cmd
          run: |
            echo "Running on self-hosted runner"
            echo "Runner name: $RUNNER_NAME"
            echo "OS: $RUNNER_OS"
            echo "Architecture: $RUNNER_ARCH"
