name: simple input simple

on:
  workflow_dispatch:
    inputs:
      message:
        description: "message to print"
        required: true


jobs:
  demo:
    runs-on: ubuntu-latest
    if: ${{ inputs.message }}
    steps:
      - name: print input
        run: echo "${{ inputs.message }}"
