name: simple input simple

on:
  push:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: mkdir -p /artifact

      - run: echo hello > /artifact/world.txt

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: artifactfile
          path: /artifact/world.txt

          