name: simple input simple

on:
  workflow_dispatch:
    inputs:
      message:
        description: "message to print"
        required: true

      node-version:
        description: "node verson to setup"
        type: number


jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: print input
        run: echo "${{ inputs.message }}"

      - name: print inputs
        run: |
          echo "${{inputs.node-version}}"

  call-build:
    uses: ./.github/workflows/reusable.yml
    with: 
      node-version: ${{inputs.node-version}}

