name: CI
on:
  push:
    branches: ["main"]
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  process:
    runs-on: ubuntu-latest
    steps:
      - name: run a one-line script
        run: echo Hello world!
      - name: run multiple line script
        run: |
          echo add other actions to build,
          echo test, and deploy your project
