name: workflow101

on:
  push:
    branches: 
      - main

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: check-os
        if: runner.os != 'Windows'
        run: echo 'the runner's os sys is ${{runner.os}}.'


