name: deployment example for java
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main","dev"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
    
      - name: set up jdk 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v3

      - name: build with gradle
        run: gradlew build

      # - name: upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: archieve.zip
      #     path: build/libs
