name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [18, 20]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Display matrix and index
        run: |
          echo "running on ${{matrix.os}} with node.js ${{matrix.node}} "
          echo "this is matrix job #${{strategy.job-index}}"

          