name: workflow101

on:
  push:
    branches: 
      - main

jobs:
  print_to_log:
    runs-on: ubuntu-latest
    steps:
      - name: create output
        id: output
        run: |
          echo "output=outputhere" >> $GITHUB_OUTPUT

      - name: Dump Github Context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - name: Dump steps context
        run: echo '${{toJson(steps)}}'

