name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  report-url:
    runs-on: self-hosted
    steps:
    - name: Show GitHub context
      run: |
        echo "REST API URL: $GITHUB_API_URL"
        echo "GraphQL URL: $GITHUB_GRAPHQL_URL"
        echo "Server URL: $GITHUB_SERVER_URL"
        echo "Repo checkout path: $GITHUB_WORKSPACE"
        echo "Event payload: $GITHUB_EVENT_PATH"