name: simple input simple

on:
  push:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-version: ${{steps.set_version.outputs.version}}
    steps:
      - name: set node version
        id: set_version
        run: |
          echo "version=22" >> $GITHUB_OUTPUT

      - name: access version
        run: |
          echo "node version is 
          ${{steps.set_version.outputs.version}}"

  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: get version
        run: |
          echo "node version is ${{needs.build.outputs.build-version}}

      - name: setup-node
        uses: actions/setup-node@v3
        with: 
          node-version: ${{needs.build.outputs.build-version}}

          