name: simple input simple

on:
  push:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      message:
        description: "message to print"
        required: True

jobs:
  demo:
    runs-on: self-hosted
    steps:
      - name: print input
        run: echo "${{ inputs.message }}"
