name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  check:
    runs-on: ubuntu-latest

    env:
      STAGE: JOB

    steps:
      - name: step level env
        env:
          stage: steps
        run: | 
          echo $STAGE
          echo $stage
          echo runner.os
          echo runner.name

  prod_check:
    if: ${{github.ref == 'refs/heads/main'}}
    runs-on: ubuntu-latest
    steps:
      - run: echo "deploy on prod"

  