name: reusable workflow

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs['node-version'] }}

      - name: display inputs available
        run: |
          echo '${{ toJson(inputs) }}'
          echo '${{inputs.message}}'

      - name: show node version
        run: node -v
